---
import { Image } from 'astro:assets';
import Main from '@/layouts/main.astro';
import Ogp from '@/components/ogp.astro';
import LogoLiriaGraphics from '../assets/logo_liria_graphics.png';
---

<Main>
    <Ogp
        type="website"
        title="Liria Documents"
        description="Documents of Liria products"
        image="/image_liria_documents.png"
        publishedTime={new Date().toISOString()}
        modifiedTime={new Date().toISOString()}
        authors={['Liria']}
        twitterCard="summary"
    />

    <div w-full flex="~ col" items-center justify-center>
        <a
            href="/graphics"
            self-stretch
            h="[70vh]"
            m="y-8"
            rounded-xl
            relative
            flex
            items-center
            justify-center
            overflow-hidden
            bg-neutral-8
            class="group [&_*]:transition-all [&_*]:duration-200 [&_*]:delay-0 [&_*]:ease-in-out"
        >
            <div
                absolute
                inset-0
                bg-gradient-to-br
                from-transparent
                to-neutral-7
                opacity-40
                group-hover:opacity-100
            >
            </div>
            <div absolute top-0 left-0 p-5 flex items-center gap-3>
                <span class="i-custom-booth?mask size-5 bg-neutral-4"></span>
            </div>
            <div absolute flex items-center>
                <div flex w="64 md:72">
                    <Image
                        src={LogoLiriaGraphics}
                        alt="Liria Graphics"
                        format="webp"
                        loading="eager"
                        group-hover="transform-translate-x-[-1rem]"
                        opacity-60
                        group-hover:opacity-100
                        object-none
                    />
                </div>

                <span
                    i-lucide-arrow-right
                    size-8
                    opacity-0
                    group-hover="opacity-100 transform-translate-x-[1rem]"
                    flex-shrink-0></span>
            </div>
        </a>
    </div>
</Main>
