---
import Main from "../layouts/main.astro";
---

<Main>
    <div w-full flex="~ col" items-center justify-center h="[80vh]">
        <a
            href="/graphics"
            flex
            items-center
            gap-3
            text="neutral-100 hover:neutral-400"
        >
            <span class="i-custom-booth?mask"></span>
            <p>Liria Graphics</p>
        </a>
    </div>
</Main>
