---
import { SEO } from 'astro-seo';

interface Props {
    title: string;
    type: 'website' | 'article';
    description: string;
    image: string;
    publishedTime: string;
    modifiedTime: string;
    authors: string[];
    twitterCard: 'summary' | 'summary_large_image';
}

const {
    title,
    type,
    description,
    image,
    publishedTime,
    modifiedTime,
    authors,
    twitterCard,
} = Astro.props;
---

<SEO
    openGraph={{
        basic: {
            title: title,
            type: type,
            image: image,
        },
        optional: {
            description: description,
            siteName: 'Liria Documents',
            locale: 'ja_JP',
        },
        article: {
            publishedTime: publishedTime,
            modifiedTime: modifiedTime,
            authors: authors,
        },
        image: {
            url: image,
            alt: title,
        },
    }}
    twitter={{
        site: '@liria_work',
        card: twitterCard,
        image: image,
        title: title,
        description: description,
    }}
/>
<title>{title}</title>
<meta name="description" content={description} />
