---
import Article from '../../layouts/article.astro';
---

<Article>
    <div gap-8 flex="~ col">
        <div gap-3 flex="~ col">
            <p>
                {
                    'Liria Graphicsは、VRSNSアバター向けアセットを中心に販売するBOOTHショップです。'
                }
            </p>
            <p>
                {
                    'このドキュメントでは、各販売アイテムのドキュメントやライセンスについて掲載します。'
                }
            </p>
        </div>
    </div>
</Article>
