---
import Article from '@/layouts/article.astro';
import Ogp from '@/components/ogp.astro';
---

<Article>
    <Ogp
        type="article"
        title="Liria Graphics"
        description="Liria Graphicsは、VRSNSアバター向けアセットを中心に販売するBOOTHショップです"
        image="/logo_liria_documents.png"
        publishedTime={new Date().toISOString()}
        modifiedTime={new Date().toISOString()}
        authors={['Liria', 'Liry24']}
        twitterCard="summary"
    />
    <div gap-8 flex="~ col">
        <div gap-3 flex="~ col">
            <p>
                {
                    'Liria Graphicsは、VRSNSアバター向けアセットを中心に販売するBOOTHショップです。'
                }
            </p>
            <p>
                {
                    'このドキュメントでは、各販売アイテムのドキュメントやライセンスについて掲載します。'
                }
            </p>
        </div>
    </div>
</Article>
