---
import { getArticles } from '@/lib/graphics';
import Main from '@/layouts/main.astro';
import Link from '@/components/link.astro';
import Sidebar from '@/components/sidebar.vue';

const data = await getArticles();

const contents = [
    {
        label: 'Liria Graphics',
        href: '/graphics',
        contents: [
            {
                contents: [
                    ...data.contents.map((article) => ({
                        label: article.title.ja,
                        href: `/graphics/${article.id}`,
                        external: false,
                    })),
                ],
            },
            {
                contents: [
                    {
                        label: 'ライセンス',
                        href: '/graphics/license',
                        external: false,
                    },
                ],
            },
            {
                label: '外部リンク',
                contents: [
                    {
                        label: 'BOOTH',
                        href: 'https://eicosapenta.booth.pm/',
                        external: true,
                    },
                    {
                        label: 'GitHub',
                        href: 'https://github.com/Liria-works/liria-graphics',
                        external: true,
                    },
                ],
            },
        ],
    },
];
---

<Main>
    <div w-full flex="~ col md:row" px-3 gap-6 md:gap-10>
        <Sidebar client:load contents={contents} />

        <div flex flex-col gap-8 md:pt-12 pb-8>
            <article>
                <slot />
            </article>

            <div>
                <Link
                    href={import.meta.env.GITHUB_ISSUE_LINK}
                    label="修正を提案"
                    icon="i-lucide-move-up-right"
                />
            </div>
        </div>
    </div>
</Main>
