---
import { getArticles } from "../lib/graphics";
import Main from "../layouts/main.astro";
import Link from "../components/link.astro";

const data = await getArticles();
---

<Main>
    <div w-full flex px-3 gap-10>
        <div w-56 pt-12 pb-8 gap-5 flex="~ col">
            <Link bold href="/graphics" label="Liria Graphics" />

            <div w-full gap-8 flex="~ col">
                <div w-full gap-3 flex="~ col">
                    <p font-bold text-sm>アイテム</p>

                    <div flex>
                        <div h-auto w-px ml-2 mr-4 bg-neutral-800></div>
                        <div gap-2 flex="~ col">
                            {
                                data.contents.map((article) => (
                                    <Link
                                        href={`/graphics/${article.id}`}
                                        label={article.title.ja}
                                    />
                                ))
                            }
                        </div>
                    </div>
                </div>

                <div flex>
                    <div h-auto w-px ml-2 mr-4 bg-neutral-800></div>
                    <div gap-2 flex="~ col">
                        <Link href="/graphics/license" label="ライセンス" />
                    </div>
                </div>

                <div w-full gap-3 flex="~ col">
                    <p font-bold text-sm>外部リンク</p>

                    <div flex>
                        <div h-auto w-px ml-2 mr-4 bg-neutral-800></div>
                        <div w-full gap-2 flex="~ col">
                            <div grow flex items-center justify-between gap-2>
                                <Link
                                    href="https://eicosapenta.booth.pm/"
                                    label="BOOTH"
                                    trailing
                                />
                            </div>
                            <Link
                                href="https://github.com/Liria-works/liria-graphics"
                                label="GitHubリポジトリ"
                                trailing
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div h-auto w-px mt-6 bg-neutral-800></div>

        <div flex flex-col gap-8 pt-12 pb-8>
            <article>
                <slot />
            </article>

            <div>
                <Link
                    href="/"
                    label="修正を提案"
                    icon="i-lucide-move-up-right"
                />
            </div>
        </div>
    </div>
</Main>
