---

---

<footer flex items-center self-center text-xs gap-5 text-neutral-400>
    <div flex items-center gap-2>
        <span class="i-custom-liria?mask"></span>
        <p>© 2024 Liria</p>
    </div>

    <div>
        <a
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja"
            target="_blank"
            rel="noopener noreferrer"
            hover:underline
        >
            CC BY-NC-SA 4.0
        </a>
    </div>
</footer>
