---
import { Image } from 'astro:assets';
import LogoLiria from '../../public/logo_liria_white.svg';

const links = [
    {
        icon: 'i-custom-liria?mask',
        href: 'https://liria.work',
        label: 'Liria',
    },
    {
        icon: 'i-custom-booth?mask',
        href: 'https://eicosapenta.booth.pm',
        label: 'Liria Graphics - BOOTH',
    },
    { icon: 'i-simple-icons-x', href: 'https://x.com/liria_work', label: 'X' },
    {
        icon: 'i-simple-icons-github',
        href: 'https://github.com/Liria-works',
        label: 'GitHub',
    },
];
---

<header w-full gap-4 flex items-center justify-between>
    <a
        tabindex="0"
        href="/"
        p="l-1 r-2 y-1"
        flex
        items-center
        gap-2
        select-none
        rounded-md
        focus-visible:outline-none
        focus-visible:bg-neutral-7
        ring="inset 0 focus-visible:1 neutral-6"
    >
        <Image
            src={LogoLiria}
            alt="Liria Logo"
            width="30"
            height="30"
            loading="eager"
        />
        <span
            text-xl
            font-bold
            tracking-wide
            leading-none
            pt-0.5
            whitespace-nowrap
        >
            Liria Docs
        </span>
    </a>

    <div gap-1 sm:gap-3 flex="~ wrap" items-center justify-end>
        {
            links.map((link) => (
                <a
                    tabindex="0"
                    href={link.href}
                    target="_blank"
                    aria-label={link.label}
                    ring="inset 0 focus-visible:1 neutral-6"
                    class={`group p-2 rounded-md flex focus-visible:bg-neutral-7 focus-visible:outline-none transition duration-100 delay-0 ease-in-out`}
                >
                    <span
                        class={`${link.icon} size-4.5 bg-neutral-4 group-hover:bg-neutral-1`}
                    />
                </a>
            ))
        }
    </div>
</header>
