---
import { AstroFont } from 'astro-font';
import Analytics from '@vercel/analytics/astro';

import Header from './header.astro';
import Footer from './footer.astro';
---

<html lang="en">
    <head>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; connect-src 'self';"
        />
        <meta name="generator" content={Astro.generator} />
        <AstroFont
            config={[
                {
                    src: [],
                    name: 'Montserrat',
                    // Google Fonts URL
                    googleFontsURL:
                        'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap',
                    preload: true,
                    display: 'swap',
                    selector: 'body',
                    fallback: 'sans-serif',
                },
            ]}
        />
        <Analytics />
    </head>

    <body class="text-neutral-100 bg-[#0b0b0b] px-8 py-5">
        <div class="w-full flex flex-col mx-auto gap-3">
            <Header />
            <slot />
            <Footer />
        </div>
    </body>
</html>
